<mat-sidenav-container class="layout">
  <mat-sidenav class="sidenav" mode="side" opened>
    <div class="brand">
      <div class="brand-title">POS Jarabe</div>
      <div class="brand-sub">Minimal</div>
    </div>

    <mat-nav-list>
      <a mat-list-item routerLink="/app" routerLinkActive="active">
        <mat-icon matListItemIcon>dashboard</mat-icon>
        <span matListItemTitle>Dashboard</span>
      </a>

      <a mat-list-item routerLink="/app/products" routerLinkActive="active">
        <mat-icon matListItemIcon>inventory_2</mat-icon>
        <span matListItemTitle>Productos</span>
      </a>

      <a mat-list-item routerLink="/app/sales" routerLinkActive="active">
        <mat-icon matListItemIcon>point_of_sale</mat-icon>
        <span matListItemTitle>Ventas</span>
      </a>

      <!-- ✅ SELLER: NO Reportes (como pediste) -->
       <a mat-list-item routerLink="/app/reports" routerLinkActive="active" *ngIf="perm.can('reports.view')">
        <mat-icon matListItemIcon>bar_chart</mat-icon>
        <span matListItemTitle>Reportes</span>
      </a>

      <!-- ✅ Chat para SELLER también -->
      <a mat-list-item routerLink="/app/chat" routerLinkActive="active" *ngIf="perm.can('chat.view')">
        <mat-icon matListItemIcon>chat</mat-icon>
        <span matListItemTitle>Chat</span>
      </a>

      <div class="divider" *ngIf="perm.can('users.view') || perm.can('franchises.view')"></div>

      <a mat-list-item routerLink="/app/users" routerLinkActive="active" *ngIf="perm.can('users.view')">
        <mat-icon matListItemIcon>group</mat-icon>
        <span matListItemTitle>Usuarios</span>
      </a>

      <a mat-list-item routerLink="/app/franchises" routerLinkActive="active" *ngIf="perm.can('franchises.view')">
        <mat-icon matListItemIcon>store</mat-icon>
        <span matListItemTitle>Franquicias</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="content">
    <div class="topbar">
      <div class="spacer"></div>

      <div class="who">
        <div class="name">{{ userName() }}</div>
        <div class="role">{{ role() }}</div>
      </div>

      <button mat-stroked-button class="logout" (click)="logout()">
        Salir
      </button>
    </div>

    <div class="page">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
